*
	box-sizing: border-box

@font-face
	font-family: "PT Sans"
	src:
		url("../fonts/ptsans.woff") format("woff"),
		url("../fonts/ptsans.woff2") format("woff2")
	font-weight: normal
	font-style: normal


@font-face
	font-family: "PT Sans"
	src:
		url("../fonts/ptsansbold.woff") format("woff"),
		url("../fonts/ptsansbold.woff2") format("woff2");
	font-weight: bold
	font-style: normal


body
	font-family: "PT Sans", Arial, sans-serif
	font-size: 22.5px
	font-weight: bold
	line-height: 50px

	color: willow-brown
	background: gray
