header.page-header
	h1.page-header__title 
		| Анкета Куцева Сергея на должность "Верстальщик пиксель-перфекционист"
	.page-header__csssr-logo-container
		a.page-header__csssr-logo(href="http://csssr.ru")
			| CSSSR logo
			img(src="img/csssr-logo.png", width="154", heigth="52", alt="Логотип CSSSR")
		span Секретный архив учереждения
	.page-header__top-secret
		img(src="img/secret-text.png", width="252", heigth="106", alt="Секретно &mdash; заполнено собственноручно")
