.main-form
	container column

	padding-right: 121px
	padding-left: 109px

.main-form__title-container
	display: flex
	justify-content: center

	padding-right: 33px
	padding-bottom: 31px

	img
		width: 221px
		height: 118px

.main-form__personal-info
	display: flex
	flex-direction: row
	justify-content: space-between
	flex-wrap: wrap
	align-items: flex-start

	padding-top: 20px

	label
		padding-top: 8px
		padding-right: 16px
		padding-bottom: 4px

	input
		input-text 1 69%

.main-form__personal-info .main-form__personal-info-skype
	width: 85%

.main-form__education
	display: flex
	flex-direction: row
	align-items: flex-start

	padding-top: 18px

	input
		display: none

	label
		position: relative

		padding-top: 2px
		padding-left: 33px
		margin-right: 22px

		cursor: pointer

		&::before
			content: ""

			position: absolute
			top: 14px
			left: 0

			display: flex
			width: 27px
			height: 28px

			background: url("../img/icons-sprite.png") no-repeat -12px -79px

		&::after
			content: ""

			position: absolute
			top: 17px
			left: 0

			display: none
			width: 27px
			height: 28px

			background: url("../img/icons-sprite.png") no-repeat -3px -124px

	input:checked + label::after
		display: flex


.main-form__education-text
	padding-right: 6px

.main-form__htmlacademy-link
	padding-top: 1px
	margin-right: 32px

	color: link-color

.main-form__practical-skils
	display: flex
	flex-direction: column

	padding-top: 19px

.main-form__practical-skils-title
	// padding-bottom: 20px

.main-form__practical-skils-text
	position: relative

	margin: 0
	margin-top: -3px
	padding-left: 18px
	padding-bottom: 8px

	font-size: 14px
	font-weight: normal
	line-height: 22px

	color: taup

	&::before
		content: "*"

		position: absolute
		top: 10px
		left: -1px

		display: flex

		font-size: 36px

		width: 15px
		height: 36px

.main-form__practical-skils-items
	display: flex
	flex-direction: column
	flex-wrap: wrap
	align-items: flex-start

	height: 260px
	padding-top: 13px

	input
		display: none

	input:checked + label

		&::after
			display: flex

.main-form__practical-skils-item
	position: relative

	width: 33.5%
	padding-bottom: 10px
	padding-left: 28px

	font-size: 21px
	line-height: 25px

	&:nth-child(9n)
		box-sizing: content-box
		width: 32.5%

	&::before
		content: ""

		position: absolute
		top: 3px
		left: 1px

		display: flex

		width: 19px
		height: 18px

		background: url(../img/icons-sprite.png) no-repeat -5px -5px

	&::after
		content: ""

		position: absolute
		top: -8px
		left: 5px

		display: none

		width: 21px
		height: 27px

		background: url(../img/icons-sprite.png) no-repeat -5px -33px

.main-form__js
	display: flex
	flex-direction: column

	padding-top: 53px
	padding-left: 9px

.main-form__js-scale-wrapper
	display: flex
	flex-direction: row

	background: url(../img/scale.png) no-repeat -5px 3px

	input
		display: none

	input:checked + label::before
		display: flex

.main-form__js-level
	position: relative

	padding-top: 59px
	padding-left: 2px

	font-size: 13px
	line-height: 19px
	vertical-align: bottom

	cursor: pointer

	&--no
		width: 145px
		padding-top: 61px

	&--low
		width: 227px

	&--mid
		width: 209px

		span
			width: 130px

	&--high
		width: 181px
		padding-top: 65px

		text-align: right

	&:last-child::before
		left: auto
		right: 0

	&::before
		content: ""

		position: absolute
		top: 13px
		left: 0

		display: none

		width: 17px
		height: 14px

		background: url(../img/icons-sprite.png) no-repeat -5px -162px

.main-form__date
	display: flex
	flex-direction: row
	align-items: flex-start
	padding-top: 44px
	padding-bottom: 63px

	input
		input-text 0 206px

		padding-bottom: 13px

.main-form__date-text
	padding-top: 9px
	padding-right: 6px
