.page-header
	container row

	// flex-direction: row
	justify-content: space-between

	padding-bottom: 13px

.page-header__title
	visualy-hidden()

.page-header__csssr-logo-container
	display: flex
	flex-direction: column

	padding-top: 60px
	padding-left: 45px

	span
		padding-left: 7px
		margin-top: -15px

		font-size: 10px
		line-height: 33.35px

.page-header__csssr-logo
	font-size: 0
	line-height: 0

.page-header__top-secret
	padding-top: 49px
	padding-right: 54px
